.vtex-search-result {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 206px repeat(5, auto);
  -ms-grid-columns: 206px (1fr)[5];
  grid-template-areas:
    "breadcrumb breadcrumb breadcrumb . quantity orderby"
    "filters gallery gallery gallery gallery gallery"
    ". pagination pagination pagination pagination pagination";
}

.vtex-search-result--infinite-scroll {
  grid-template-areas:
    "breadcrumb breadcrumb breadcrumb . quantity orderby"
    "filters gallery gallery gallery gallery gallery";
}

.vtex-search-result--show-more {
  grid-template-areas:
    "breadcrumb breacrumb breadcrumb . quantity orderby"
    "filters gallery gallery gallery gallery gallery"
    ". pagination pagination pagination pagination pagination";
}

.vtex-search-result--paginated {
  grid-template-areas:
    "breadcrumb breadcrumb breadcrumb quantity orderby limit"
    "filters gallery gallery gallery gallery gallery"
    ". pagination pagination pagination pagination pagination";
}

.vtex-search-result__button--show-more {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: pagination;
  grid-row: pagination;
  justify-self: end;
  align-self: center;
}

.vtex-search-result__total-products {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-column: quantity;
  grid-row: quantity;
  justify-self: end;
  align-self: center;
}

.vtex-search-result--paginated .vtex-search-result__total-products {
  -ms-grid-column: 4;
}

.vtex-search-result__order-by {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: orderby;
  grid-row: orderby;
  align-self: center;
  justify-self: stretch;
}

.vtex-search-result__switch {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: switch;
  grid-row: switch;

}

.vtex-search-result--paginated .vtex-search-result__order-by {
  -ms-grid-column: 5;
}

.vtex-search-result__breadcrumb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: breadcrumb;
  grid-row: breadcrumb;
  align-self: center;
  justify-self: stretch;
}

.vtex-search-result__filters {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-column: filters;
  grid-row: filters;

}

.vtex-search-result__gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: gallery;
  grid-row: gallery;
}

.vtex-search-result__border {
  grid-column: border;
  grid-row: border;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  width: 2px;
}

.vtex-search-result__border-2 {
  grid-column: borderseq;
  grid-row: borderseq;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  width: 2px;
}

.vtex-search-result a {
  outline: 0;
}

.vtex-search-result__filter span:hover {
  color: #368DF7
}

.vtex-gallery {
  display: grid;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  grid-template-rows: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 0.375rem;
  margin: 0 auto;
}

.vtex-filter-popup__button {
  background: none;
  height: 3.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.vtex-filter-accordion__item-box {
  height: 3.75rem;
}

.vtex-filter-accordion__breadcrumbs {
  height: 4.25rem;
}

.vtex-filter-buttons__box {
  height: 5rem;
}

.vtex-filter-popup__footer {
  margin-top: auto;
}

.vtex-orderby-popup__footer {
  min-height: 1rem;
}

.vtex-accordion-filter__item-options {
  padding-bottom: 9rem;
}

body.vtex-filter-popup-open {
  overflow: hidden;
}

.vtex-accordion-filter, .vtex-orderby-popup {
  color: #828282;
}

.vtex-accordion-filter__item--active svg path {
  fill: #4f4f4f;
}

.vtex-accordion-filter__item-icon svg {
  transform: rotate(270deg);
}

.vtex-selected-filter__checkbox {
  height: 1rem;
  width: 1rem;
}

.vtex-search-result__term {
  color: #4f4f4f;
}

@media only screen and (max-width: 60em) {
  .vtex-search-result {
    -ms-grid-columns: 180px (1fr)[5];
    grid-template-columns: 180px repeat(5, auto);
  }
}

@media only screen and (min-width: 40em) {
  .vtex-search-result__border {
    display: none;
  }

  .vtex-search-result__sidebar {
    width: 16rem;
  }
}

@media only screen and (max-width: 40em) {
  .vtex-search-result {
    -ms-grid-columns: 2fr 1px 1.5fr 1px 0.2fr;
    grid-template-columns: 2fr 1px 1.5fr 1px 0.2fr;
    grid-template-areas:
      "orderby border filters borderseq switch"
      "quantity quantity quantity quantity quantity"
      "gallery gallery gallery gallery gallery";
  }

  .vtex-search-result__total-products {
    justify-self: stretch;
  }

  .vtex-search-result__filter-title {
    font-weight: 300;
  }

  .vtex-gallery {
    grid-template-columns: 1fr;
  }

  .vtex-gallery--two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.vtex-dropdown__mobile {
  margin-top: -2px;
}