.vtex-search-result {
  display: grid;
  grid-template-columns: 267px auto;
  grid-template-areas:
    ". header"
    "filters gallery";
}

.vtex-search-result__header {
  grid-column: header;
}

.vtex-search-result__filters {
  grid-row: filters;
}

.vtex-search-result__gallery {
  grid-column: gallery;
  grid-row: gallery;
}

.vtex-search-result a {
  outline: 0;
}

.vtex-search-result__filter span:hover {
  color: #368DF7
}

.vtex-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 5px;
  margin: 0 auto;
}

