.vtex-search-result {
  display: grid;
  grid-template-columns: 267px repeat(5, auto);
  grid-template-areas:
    ". breadcrumb . quantity orderby limit"
    "filters gallery gallery gallery gallery gallery";
}

.vtex-search-result--infinite-scroll {
  grid-template-areas:
    ". breadcrumb . . quantity orderby"
    "filters gallery gallery gallery gallery gallery";
}

.vtex-search-result__total-products {
  grid-column: quantity;
  grid-row: quantity;
  justify-self: end;
  align-self: center;
}

.vtex-search-result__order-by {
  grid-column: orderby;
  grid-row: orderby;
  align-self: center;
  justify-self: stretch;
}

.vtex-search-result__breadcrumb {
  grid-column: breadcrumb;
  grid-row: breadcrumb;
  align-self: center;
  justify-self: stretch;
}

.vtex-search-result__filters {
  grid-column: filters;
  grid-row: filters;
}

.vtex-search-result__gallery {
  grid-column: gallery;
  grid-row: gallery;
}

.vtex-search-result__border {
  grid-column: border;
  grid-row: border;
  height: 80%;
  background-color: #c4c4c4;
  align-self: center;
}

.vtex-search-result a {
  outline: 0;
}

.vtex-search-result__filter span:hover {
  color: #368DF7
}

.vtex-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 0.375rem;
  margin: 0 auto;
}

.vtex-filter-popup__button {
  background: none;
  height: 3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  width: calc(100% - 2rem);
}

.vtex-filter-popup__title {
  color: #828282;
}

.vtex-filter-popup__footer {
  margin-top: auto;
}

.vtex-orderby-popup__footer {
  min-height: 1rem;
}

body.vtex-filter-popup-open {
  overflow: hidden;
}

.vtex-accordion-filter, .vtex-orderby-popup {
  color: #828282;
}

.vtex-accordion-filter__item--active svg path {
  fill: #4f4f4f;
}

.vtex-accordion-filter__item-icon svg {
  transform: rotate(270deg);
}

.vtex-selected-filter__checkbox {
  height: 1rem;
  width: 1rem;
}

@media only screen and (max-width: 60em) {
  .vtex-search-result {
    grid-template-columns: 180px repeat(5, auto);
  }
}

@media only screen and (min-width: calc(40em + 1px)) {
  .vtex-search-result__border {
    display: none;
  }
}

@media only screen and (max-width: 40em) {
  .vtex-search-result {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas:
      "breadcrumb breadcrumb breadcrumb"
      "quantity quantity quantity"
      "filters border orderby"
      "gallery gallery gallery";
  }

  .vtex-search-result__breadcrumb {
    justify-self: center;
  }

  .vtex-search-result__total-products {
    justify-self: stretch;
    text-align: center;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid #c4c4c4;
  }

  .vtex-search-result__filter-title {
    font-weight: 300;
  }

  .vtex-gallery {
    border-top: 1px solid #c4c4c4;
  }
}

.vtex-range {
  user-select: none;
}
