.vtex-search-result a {
  outline: 0;
}

.vtex-search-result__filter span:hover {
  color: #368DF7
}

.vtex-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 5px;
  margin: 0 auto;
}

.vtex-gallery--max-5 {
  max-width: 1450px;
}

.vtex-gallery--max-4 {
  max-width: 1160px;
}

.vtex-gallery--max-3 {
  max-width: 870px;
}

