.container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 206px repeat(5, auto);
  -ms-grid-columns: 206px (1fr)[5];
  grid-template-areas:
    "breadcrumb breadcrumb breadcrumb . quantity orderby"
    "filters gallery gallery gallery gallery gallery"
    ". pagination pagination pagination pagination pagination";
}

.container a {
  outline: 0;
}

.buttonShowMore {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: pagination;
  grid-row: pagination;
  justify-self: end;
  align-self: center;
}

.switch {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: switch;
  grid-row: switch;
}

.breadcrumb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: breadcrumb;
  grid-row: breadcrumb;
  align-self: center;
  justify-self: stretch;
}

.filter span:hover {
  color: rgb(153, 175, 202)
}

.filters {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-column: filters;
  grid-row: filters;
}

.resultGallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column-start: filters;
  grid-column-end: gallery;
  grid-row: gallery;
}

.filters ~ .resultGallery {
  grid-column-start: gallery;
}

.border {
  grid-column: border;
  grid-row: border;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  width: 2px;
}

.border2 {
  grid-column: borderseq;
  grid-row: borderseq;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  width: 2px;
}

.gallery {
  display: grid;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-gap: 0.375rem;
  margin: 0 auto;
}

.galleryRow {
  display: grid;
  grid-template-columns: repeat(auto-fill,  17rem);
}

.galleryTwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filterPopupButton {
  background: none;
  height: 3.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.accordionFilter {
  color: #828282;
}

.filterAccordionItemBox {
  height: 3.75rem;
}

.filterAccordionBreadcrumbs {
  height: 4.25rem;
}

.filterButtonsBox {
  height: 5rem;
}

.filterPopupFooter {
  margin-top: auto;
}

.accordionFilterItemOptions {
  padding-bottom: 9rem;
}

.dropdownMobile {
  margin-top: -2px;
}

.accordionFilterItemActive svg path {
  fill: #4f4f4f;
}

.totalProducts {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-column: quantity;
  grid-row: quantity;
  justify-self: end;
  align-self: center;
}

.orderBy {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: orderby;
  grid-row: orderby;
  align-self: center;
  justify-self: stretch;
}

.accordionFilterItemHidden {}

.accordionFilterItem {}

.filterAccordionItemBox {}

.accordionFilterItemTitle {}

.accordionFilterItemIcon {}

.filterSelected {}

.filterAvailable {}

.filterPopupTitle {}

.filterPopupArrowIcon {}

.footerButton {}

.layoutSwitcher {}

.buttonShowMore {}

.filterPopup {}

.filterPopupContent {}

.filterPopupContentContainer {}

.filterPopupContentContainerOpen {}

.selectedFilterCheckbox {}

.galleryItem {}

.searchNotFound {}

.filterTitle {}

.filterIcon {}

@media only screen and (max-width: 60em) {
  .container {
    -ms-grid-columns: 180px (1fr)[5];
    grid-template-columns: 180px repeat(5, auto);
  }
}

@media only screen and (min-width: 40em) {
  .border {
    display: none;
  }

  .sidebar {
    width: 16rem;
  }
}

@media only screen and (max-width: 40em) {
  .container {
    -ms-grid-columns: 2fr 1px 1.5fr 1px 0.2fr;
    grid-template-columns: 2fr 1px 1.5fr 1px 0.2fr;
    grid-template-areas:
      "orderby border filters borderseq switch"
      "quantity quantity quantity quantity quantity"
      "gallery gallery gallery gallery gallery";
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .galleryRow {
    grid-template-columns: 1fr;
  }

  .galleryTwoColumns {
    grid-template-columns: repeat(2, 1fr);
  }

  .filterTitle {
    font-weight: 300;
  }

  .totalProducts {
    justify-self: stretch;
  }
}

.filterPopupOpen {
  overflow: hidden;
}