.container-search-result{
    /* border: 1px solid var(--orange); */
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-areas:
		"filtro select"
		"filtro galeria"
    ;
}

.vtex-search-result__filters{
    grid-area: filtro;
}

.vtex-search-result__order-by{
    grid-area: select;
    display: flex;
    align-items: center;
}
.vtex-search-result__gallery{
    grid-area: galeria;
}

.vtex-search-result{
    padding: 1rem;
    width: 90%;
    margin: auto;
}
.f6{
    color: var(--orange);
    font-size: 20px;
    font-weight: 300;
}
.f7{    
    font-size: 16px;
    padding-left: 5px ;
}
span.f6{
    color: var(--black);
    padding: 5px 10px;
    font-size: 16px;
}

.vtex-search-result__filter-icon svg path{
    fill: var(--orange);
}

svg rect {
    fill : var(--orange);
}

.pt2{
    padding-top: 1.0rem;    
}

.vtex-dropdown{
    width: 400px;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .vtex-search-result{
        width: 100%;
    }

    .vtex-dropdown{
        width: 300px;
    }
}

@media screen and (min-width:1700px){
    .vtex-search-result__gallery{
        padding-left: 200px;
        justify-self: self-start;
    }
    .vtex-search-result__order-by{
        padding-left: 200px;
    }

    .vtex-dropdown{
        width: 300px
    }
}

@media screen and (max-width:1024px){
    .vtex-search-result{
        width: 100%
    }

    .container-search-result{
        grid-template-columns: 300px 1fr;
        column-gap: 50px;
        row-gap: 30px;
        grid-template-areas:
            "filtro select"
            "galeria galeria"
        ;
    }

    .vtex-search-result__gallery{
        padding: 0 20%;
    }
}

@media screen and (max-width:767px){
    .vtex-search-result__gallery{
        padding: 0;
    }

    .container-search-result{
        grid-template-columns: 1fr;
        column-gap: 50px;
        row-gap: 30px;
        grid-template-areas:
            "filtro filtro"
            "select select"
            "galeria galeria"
        ;
    }
}