.container-search-result{
    /* border: 1px solid var(--orange); */
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-areas:
		"filtro galeria"
    ;
}

.vtex-search-result__total-products {
    display: inline-block;
    position: relative;
}

.vtex-search-result__total-products span {
    color: var(--black);
    display: inline-block;
    font-weight: 300;
    padding: 0;
    position: absolute;
    top: 18px;
    width: 100px;
}

.vtex-search-result__filters{
    float: left;
    grid-area: filtro;
    margin-right: 60px;
    width: 260px;
}

.vtex-search-result__order-by{
    grid-area: select;
    display: flex;
    align-items: center;
}

.vtex-search-result__order-by .vtex-dropdown label > div {
    border: 1px solid var(--white-two);
    border-radius: 0;
    font-weight: 400;
}

.vtex-search-result__gallery{
    grid-area: galeria;
}

.vtex-search-result{
    padding: 1rem;
    width: 90%;
    margin: auto;
}
.f6{
    color: var(--orange);
    font-size: 20px;
    font-weight: 300;
}
.f7{    
    font-size: 16px;
    padding-left: 5px ;
}
span.f6{
    color: var(--black);
    padding: 5px 10px;
    font-size: 16px;
}

.vtex-search-result__filter-icon svg path{
    fill: var(--orange);
}

svg rect {
    fill : var(--orange);
}

.pt2{
    padding-top: 1.0rem;    
}

.vtex-dropdown{
    width: 400px;
}

.vtex-search-result__filters h3.title-filtro {
    background: url(https://img.imageboss.me/cdn/http://bimg.visie.com.br/2018/07/icon-filter.svg) 0 3px no-repeat;
    font-size: 20px;
    color: var(--black);
    padding-left: 32px;
}
.vtex-search-result__filters ul.filter-desktop {
    padding: 0;
    list-style: none;
}
.vtex-search-result__filters ul.filter-desktop li {
    padding-bottom: 7px;
    margin-left: -10px;
}
.vtex-search-result__filters ul.filter-desktop li label span {
    font-size: 16px;
    color: var(--slate-grey); 
}
.vtex-search-result__filters ul.filter-desktop li.selected label span {
        color: var(--black);
        font-weight: bold; 
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .vtex-search-result{
        width: 100%;
    }

    .vtex-dropdown{
        width: 300px;
    }
}

@media screen and (min-width:1700px){
    .vtex-search-result__gallery{
        padding-left: 200px;
        justify-self: self-start;
    }
    .vtex-search-result__order-by{
        padding-left: 120px;
        margin-bottom: 20px;
    }

    .vtex-dropdown{
        width: 300px
    }
}

@media screen and (max-width:1024px){
    .vtex-search-result{
        width: 100%
    }

    .container-search-result{
        grid-template-columns: 300px 1fr;
        column-gap: 50px;
        row-gap: 30px;
        grid-template-areas:
            "filtro select"
            "galeria galeria"
        ;
    }

    .vtex-search-result__gallery{
        padding: 0 20%;
    }
}

/* Sobrescreve CSS do Filtro e Ordenação da VTEX - Daqui */

@media (max-width: 768px) {
    .vtex-search-result__filters {
        height: 70px;
        margin-top: 20px;
        width: 51%;
    }
    
    .vtex-search-result__filters:before {
        background-color: var(--white-two);
        content: '';
        height: 70px;
        left: -20px;
        position: absolute;
        width: 100vw;
    }
    
    .vtex-search-result__filters .vtex-filter-popup__button {
        background-color: var(--orange);
        border-radius: 25px;
        color: var(--white);
        margin: 10px 0 0;
        width: 130px;
    }
    
    .vtex-search-result__filters .vtex-filter-popup__button .vtex-filter-popup__title {
        margin: 0;
    }
    
    .vtex-search-result__filters .vtex-filter-popup__button .vtex-filter-popup__title:before {
        content: '\e954';
        font-family: 'brastemp-icons';
        margin-right: 15px;
    }
    
    .vtex-search-result__filters .vtex-filter-popup__button .vtex-filter-popup__arrow-icon {
        display: none;
    }
    
    .vtex-search-result__order-by {
        width: 100%;
    }
    
    .vtex-search-result__order-by .vtex-filter-popup__button {
        background-color: var(--white);
        justify-content: start;
        padding-left: 20px;
        width: 185px;
    }
    
    .vtex-search-result__order-by .vtex-filter-popup__title {
        margin: 0;
    }
    
    .vtex-search-result__order-by .vtex-filter-popup__title:after {
        content: '\e90b';
        color: var(--orange);
        font-family: 'brastemp-icons';
        font-size: 8px;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    
    .vtex-search-result__order-by .vtex-filter-popup__arrow-icon {
        display: none;
    }
    
    .vtex-search-result__order-by:after {
        background-color: var(--white-two);;
        content: '';
        height: 70px;
        margin-top: -35px;
        position: absolute;
        right: 0;
        width: 51%;
    }
    
    .vtex-search-result__order-by .vtex-filter-popup {
        margin-top: -35px;
        position: absolute;
        right: 5px;
        z-index: 1;
    }
    
    .vtex-search-result__gallery {
        margin-top: 40px;
    }
}

/* Sobrescreve CSS do Filtro e Ordenação da VTEX - Até aqui */

@media screen and (max-width:767px){
    .vtex-search-result__gallery{
        padding: 0;
    }

    .container-search-result{
        grid-template-columns: 1fr;
        column-gap: 50px;
        row-gap: 30px;
        grid-template-areas:
            "filtro filtro"
            "select select"
            "galeria galeria"
        ;
    }
}